<ion-header>
  <ion-toolbar class="HeaderToolbar">
    <ion-button (click)="ItemClicked()" slot="start" fill="none" class="ToolbarButton" style=" height: 90%; width: 47px;">
      <img src="../assets/img/back.png" style="width: 100%;" />
    </ion-button>
    <ion-title class="ion-text-center">Επιλέξτε Πελάτη</ion-title>
    <ion-button slot="end" fill="none" class="ToolbarButton">
      <img src="../assets/img/Power-2-512.png" class="ToolbarImage" />
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="MainContainer">
  <ion-text class="Name" >Sidiropoulos Kostas</ion-text>
  <div class="SearchbarLine">
    <ion-searchbar cancelButtonIcon="search" class="ion-no-padding" mode="md"
      (ionChange)="ionChange($event)">
    </ion-searchbar>
    <!-- <div class="Searchbar">
      <ion-icon name="search" class="ion-no-padding"></ion-icon>
      <ion-input
        (ionChange)="ionChange($event)">
      </ion-input>
      <ion-icon name="close-outline" (click)="" class="SearchbarCancelButton"></ion-icon>
    </div> -->
    <img class="ProfileImage" src="../assets/img/3.png" />
  </div>
  <div id="content">
    <app-list-entry  *ngFor="let show of shows" [name]="show.name" [description]="show.description" ></app-list-entry>
    
  </div>
</ion-content>