.HeaderToolbar {
    --background: #ebac13;
}

.ToolbarButton {
    width: 8%;
    height: 90%;
}

.ToolbarImage {
    width: '100%';
}

ion-searchbar {
    width: 2/3*100%;
    margin-left: auto;
    border: 1px solid black;
    box-shadow: none !important;
}

.Searchbar {
    display: flex;
    align-items: center;
    width: 2/3*100%;
    margin-left: auto;
    border: 1px solid black;
    box-shadow: none !important;
}

.MainContainer {
    display: flex;
    flex-direction: column;
    
}

ion-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;

}

.ListItem {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-left: 4%;
}

.ListItemDesc{
    font-size: 14px;
    color: grey;
}

.Name {
    font-size: large;
    color: rgba($color: #b3b3b3, $alpha: 1.0);
    float: right;
    margin-top: 2%;
    margin-right: 2%;
}

.SearchbarLine {
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    margin-top: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.ProfileImage {
    width: auto;
    height: 27px;
    justify-self: end;
}

#content {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    border: 1px solid black;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 4%;
    align-self: center;
    overflow-y: scroll;
}