.ComponentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 30%;
  }
  .ComponentImage {
    height: 80px;
    margin-bottom: 10%;
  }
