<div class="ComponentContainer" (click)="ItemClicked(title)">
  <ion-img class="ComponentImage" [src]="imageUrl" ></ion-img>
  <ion-text class="ComponentText"><strong>{{ title }}</strong></ion-text>
</div>