.ListItem {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-left: 4%;
}

.ListItemDesc{
    font-size: 14px;
    color: grey;
}