<ion-header>
  <ion-toolbar class="HeaderToolbar">
    <ion-title class="ion-text-center">Μενού</ion-title>
    <ion-button slot="end" fill="none" class="ToolbarButton"><img src="../assets/img/Power-2-512.png"
        class="ToolbarImage" /></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="MainContainer">
    <ion-text class="Name">Sidiropoulos Kostas</ion-text>
  <ion-list class="no-ion-padding">
    <app-menu-item *ngFor="let option of options" [imageUrl]="option.imageUrl" [title]="option.title" [navLink]="option.navLink">
    </app-menu-item>
  </ion-list>
</ion-content>