.HeaderToolbar {
  --background: #ebac13;
}
.ToolbarButton {
  width: 8%;
  height: 90%;
}
.ToolbarImage {
  width: '100%';
}
.MainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Name {
  font-size: large;
  color: rgba($color: #b3b3b3, $alpha: 1.0);
  float: right;
  margin-top: 2%;
  margin-right: 2%;
}
ion-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

